// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

.calc-main {
  background-color: #f0f0f0;
  height: 100vh
}

.calc-display {
  background-color: #f0f0f0;
  height: 34vh;
}

.calc-display ion-col ion-row {
  margin-left: 0.25vw;
  margin-right: 0.25vw;
  margin-top: 2vh;
  margin-bottom: 4vh
}

.calc-display-left {
  width: 57.3vw;
  height: 5vh;
  font-size: 3.8vh;
}

.copy-button-num {
  width: 8vw;
  height: 3vh;
  margin: 1vh 2.7vw 1vh 0;  
  font-size: 1.6vw;
}

.copy-button-all {
  width: 13vw;
  height: 3vh;
  margin: 1vh 2.2vw 1vh 0;
  font-size: 1.6vw;
}

.paste-button {
  width: 9.6vw;
  height: 3vh;
  margin: 1vh 2.2vw 1vh 4.4vw;  
  font-size: 1.6vw;
}

.calc-display-right {
  @media (max-aspect-ratio: 12/13) {
    font-size: 7.85vw;
  }
  @media (min-aspect-ratio: 12/13) {
    font-size: 6.5vh;
  }
}

.calc-display ion-col ion-row ion-label {
  color: black;
}

.calc-grid {
  margin: center center;
}

// ion-col {
//   text-align: center;
// }

// ion-row {
//   text-align: center;
// }

ion-button {
  width: 15vw;
  height: 7.5vh;
  // border-radius: 50;
  // font-size: 6vw;
  @media (max-aspect-ratio: 13/21) {
    font-size: 5.5vw;
  }
  @media (min-aspect-ratio: 13/21) {
    font-size: 5vh;
  }
}

.switch-button {
  width: 38vw;
  height: 5.5vh;
  // font-size: 4vw;
  margin: 1vh 30vw 1vh 30vw;
  text-transform: none;
  @media (max-aspect-ratio: 17/21) {
    font-size: 4vw;
  }
  @media (min-aspect-ratio: 17/21) {
    font-size: 3.5vh;
  }
}
