<ion-content [fullscreen]="true">
  <ion-button (click)="goToPage()" class="wide-button">to AutoConverter</ion-button>
  <div class="calc-main">
    <div class="units-selector">
      <ion-row>
        <ion-col>
          <ion-button id="list-opener-1" (click)="onModalOpen(1)" class="wide-button">Select the unit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="list-opener-2" (click)="onModalOpen(0)" class="wide-button">Select the unit</ion-button>
        </ion-col>
      </ion-row>
    </div>
    <div class="calc-display">
      <ion-col>
        <ion-row (click)="number_selecting(1)">
          <ion-label class="calc-display">{{ dataService.numbers_array[1].disp }} {{ dataService.numbers_array[1].unit_type }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label class="calc-display" >{{ dataService.numbers_array[0].disp }} {{ dataService.numbers_array[0].unit_type }}</ion-label>
        </ion-row>
      </ion-col>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="light" *ngIf="!is_c" (click)="clear('AC')">AC</ion-button>
          <ion-button color="light" *ngIf="is_c" (click)="clear('C')">C</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="plus_minus_switch('+/-')">+/-</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="percent()">%</ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button  color="light" (click)="add_operator('^')">^</ion-button>
        </ion-col> -->
        <!-- <ion-col>
          <ion-button  color="light" (click)="add_operator('log')">LOGx(Y)</ion-button>
        </ion-col> -->
        <ion-col>
          <ion-button color="light" (click)="add_operator('^')">^</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_number(7)">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_number(8)">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_number(9)">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_operator('/')">/</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_number(4)">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_number(5)">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_number(6)">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_operator('*')">*</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_number(1)">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_number(2)">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_number(3)">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_operator('-')">-</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="add_comma(',')">,</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="dark" (click)="add_number(0)">0</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="light" (click)="calculate(0)">=</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="light" (click)="add_operator('+')">+</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
