<ion-content>
  <div class="calc-main">
    <ion-row>
      <ion-col>
        <ion-button (click)="goToPage()" class="switch-button" color="tertiary">to AutoConverter</ion-button>
      </ion-col>
    </ion-row>
    <!-- <div class="units-selector">
      <ion-row>
        <ion-col>
          <ion-button id="list-opener-1" (click)="onModalOpen(1)" class="wide-button">Select the unit</ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="list-opener-2" (click)="onModalOpen(0)" class="wide-button">Select the unit</ion-button>
        </ion-col>
      </ion-row>
    </div> -->
    <!-- style="height: 18%;" -->
    <div class="calc-display">
      <ion-col>
        <ion-row>
          <ion-label (click)="onModalOpen(1)" class="calc-display-left">{{ dataService.numbers_array[1].unit_type }}:</ion-label>
          <ion-button (click)="writeToClipboard(1)" class="copy-button-num" color="secondary">Copy</ion-button>
          <ion-button (click)="writeToClipboardAll(1)" class="copy-button-all" color="secondary">Copy All</ion-button>
          <ion-button (click)="checkClipboard(1)" class="paste-button" color="secondary">Paste</ion-button>
          <ion-label (click)="onModalOpen(1)" class="calc-display-right">{{ dataService.numbers_array[1].disp }}</ion-label>
        </ion-row>
        <ion-row>
          <ion-label (click)="onModalOpen(0)" class="calc-display-left">{{ dataService.numbers_array[0].unit_type }}:</ion-label>
          <ion-button (click)="writeToClipboard(0)" class="copy-button-num" color="secondary">Copy</ion-button>
          <ion-button (click)="writeToClipboardAll(0)" class="copy-button-all" color="secondary">Copy All</ion-button>
          <ion-button (click)="checkClipboard(0)" class="paste-button" color="secondary">Paste</ion-button>
          <ion-label (click)="onModalOpen(0)" class="calc-display-right">{{ dataService.numbers_array[0].disp }}</ion-label>
        </ion-row>
      </ion-col>
    </div>
    <!-- style="height: 70%; position: static" -->
    <ion-grid class="calc-grid">
      <ion-row>
        <ion-col>
          <ion-button color="dark" *ngIf="!is_c" (click)="clear('AC')">AC</ion-button>
          <ion-button color="dark" *ngIf="is_c" (click)="clear('C')">C</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="plus_minus_switch('+/-')">+/-</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="percent()">%</ion-button>
        </ion-col>
        <!-- <ion-col>
          <ion-button  color="dark" (click)="add_operator('^')">^</ion-button>
        </ion-col> -->
        <!-- <ion-col>
          <ion-button  color="dark" (click)="add_operator('log')">LOGx(Y)</ion-button>
        </ion-col> -->
        <ion-col>
          <ion-button color="dark" (click)="add_operator('^')">^</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="light" (click)="add_number(7)">7</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_number(8)">8</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_number(9)">9</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_operator('/')">/</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="light" (click)="add_number(4)">4</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_number(5)">5</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_number(6)">6</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_operator('*')">*</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="light" (click)="add_number(1)">1</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_number(2)">2</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="light" (click)="add_number(3)">3</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="dark" (click)="add_operator('-')">-</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button color="light" (click)="add_comma(',')">,</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="light" (click)="add_number(0)">0</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="dark" (click)="calculate(0)">=</ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="dark" (click)="add_operator('+')">+</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
